html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* font-family: 'Bebas';
  font-size: 16px;
  color: #000; */
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  display: block;
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
}

.link::before {
  margin-right: 40px;
  color: green;
  text-shadow: 5px 5px 2px #000;
}
